<h3> Create an Account</h3>

<form (ngSubmit) ="onSubmit()" class="ui form" [formGroup] ="authForm"> 
    <app-input inputType ="text" label= "Username" [control] ="authForm.get('username')"></app-input>
    <app-input inputType ="password" label= "Password" [control] ="authForm.get('password')"></app-input>
    <app-input inputType ="password" label= "Password Confirmation" [control] ="authForm.get('passwordConfirmation')"></app-input>

    <div *ngIf ="authForm.get('password').touched && 
                authForm.get('passwordConfirmation').touched &&
                authForm.errors" 
         class = "ui red basic label">
        <p *ngIf ="authForm.errors.passwordsDontMatch">
           Both Passwords should match!
        </p>
        <p *ngIf ="authForm.errors.noConnection">
            No Internet Connection detected! Failed to Sign Up!!
        </p>       
        <p *ngIf ="authForm.errors.unknownError">
            Failed to Sign up!
        </p>
    </div>

    <div>
        <button class = "ui submit button primary">
            Submit
        </button>
    </div>

</form>




<!-- 
<form class="ui form" [formGroup] ="authForm"> 
    <div class ="field">
        <label>
            Username:
        </label>
        <input formControlName ="username" />
    </div>
    {{ authForm.get('username').errors | json}}
    <div class ="field"> 
        <label>
            Password:
        </label>
    <input formControlName ="password" />
    </div>
    {{ authForm.get('password').errors | json}}
    <div class ="field">
        <label>
            Confirm Password:
        </label>
    <input formControlName ="passwordConfirmation" />
    </div>
    {{ authForm.get('passwordConfirmation').errors | json}}
    <button class = "ui submit button primary">
        Submit
    </button>

    {{ authForm.errors | json}}
</form>
-->