<div class= "container">
  <h3>Payment </h3>

  <div class="row">  
    <div class="form-group col">
      <label>
        Payee Name
      </label>
      <input class = "form-control" (input)="onNameChange($event.target.value)" />
    </div>

    <div class = "col">
      <label>
         <b>Name </b>
      </label>
      <div>
        {{ name | titlecase}}
      </div>
    </div>
  </div>

  <!--  -->
  <div class="row">  
    <div class="form-group col">
      <label>
        Payment Date
      </label>
      <input type="date" class = "form-control" (input)="onDateChange($event.target.value)" />
    </div>

    <div class = "col">
      <label>
         <b>Payment Date </b>
      </label>
      <div>
        {{ date | date :"MMMM d, yyyy"  }}
      </div>
    </div>
  </div>

    <!--  -->
    <div class="row">  
      <div class="form-group col">
        <label>
          Payment Amount
        </label>
        <input class = "form-control" (input)="onAmountChange($event.target.value)" />
      </div>
  
      <div class = "col">
        <label>
           <b>Payment Amount </b>
        </label>
        <div>
          {{ amount | currency: 'INR'  }}
        </div>
      </div>
    </div>

      <!--  -->
      <div class="row">  
        <div class="form-group col">
          <label>
            Height
          </label>
          <input class = "form-control" (input)="onHeightChange($event.target.value)" />
        </div>
    
        <div class = "col">
          <label>
             <b>Height </b>
          </label>
          <div>
            <!--atleast 1 digit to the left of decimal and atleast 0 and atmost 0 digits to the right of decimal -->
            {{ height | number: '1.0-0'  }}
          </div>
        </div>
      </div>

      <!-- {{car|json}} -->

      <!--  -->
    <div class="row">  
      <div class="form-group col">
        <label>
          Miles
        </label>
        <input class = "form-control" (input)="onMilesChange($event.target.value)" />
      </div>
  
      <div class = "col">
        <label>
           <b> Kilometers </b>
        </label>
        <div>
          {{ miles | convertkm :'km' | number: '1.0-2'}}
        </div>
        <!-- output should only be displayed if km >10

        <div *ngIf = "(miles | convertkm : 'km') >10">
          {{ miles | convertkm :'km' }}
        </div>

         -->
      </div>
    </div>


</div>

