<!-- <app-placeholder [header] ="false"></app-placeholder> -->
<!-- <app-placeholder [lines] = "10"></app-placeholder> -->

<!-- <h1>Placeholder Component</h1>
<div class="ui divider"></div> 
We need a shared module to prevent re-writing the above code for all components -->

<!-- <app-divider title="Placeholder Component"></app-divider> -->

<!-- Html way instead of property way for above code -->
<app-divider>
    Segment Component
</app-divider>
<app-segment>
    <header>
    <i class= "pdf file outline icon">
        No documents are listed for this customer.
    </i>
</header>
    <button class="ui primary button">
        Add document
    </button>
</app-segment>
<app-segment>
    <header>
    <i class= "add icon">
        Add a resource.
    </i>
</header>
    <button class="ui primary button">
        Click to add
    </button>
</app-segment>

<app-divider>
    Placeholder Component
</app-divider>
<app-placeholder></app-placeholder>
